
body{
  background-color:rgb(230, 204, 178);
  }
table, th, td {
  border: 1px solid black;
}
.button {
  	background-color: powderblue;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	}
